body{
    background:rgba(109, 234, 6, 0.362);
    font-family: 'poppins';
    
}
/*heading*/
main{
    padding:0, 16px 32px;
    box-sizing: border-box;
  
}

.title{
    font-size: 64px;
       color: #48A300; 
       text-align: center;

}

 .title span{
color:#61481C;
}

.app-container{
    background-color: white;
    max-width: 660px;
    margin-inline: auto;
    border-radius: 15px;
    padding: 32px 48px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.01);
}

img{

    width:90px;
    vertical-align: middle;
    margin-left: -5px;
    

}

.progress-label{
    font-size: 14px;
    color: #222121;
    margin-bottom: 18px;
}

.progress-bar{
    height: 30px;
    background-color: rgba(119, 251, 11, 0.1);
    border-radius:15px ;
    margin-block: 20px;


}
.progress-value{
    height: 100%;
    width: 66%;
    background-color:#48A300;
    border-radius:15px ;
    font-weight: 500;
    font-size: 10px;
    color: #efefef;
    display: flex;
    align-items: center;
    padding-left:40px;
    
    
}
.error-level{
    font-size: 12px;
    color: #fd0808;
    margin-top: 3px;
display: none;

    
}
.goals-container{
    border: 1px solid black;
    border-radius: 17px;
height: 82px;
display: flex;
background: rgb(255, 255, 255);
  align-items: center;
    padding: 0 22px;
    margin:  20px  ;

}
.custom-checkbox{
height: 24px;
width: 24px;
border: 2px solid black ;
border-radius: 55%;
flex-shrink: 0;
cursor: pointer;
display: flex;

}
.check-icon{
    display: none;
}
.goal-input{
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 16px;
    align-self: stretch;
    padding-left: 15px;
   flex-grow: 1;
   font-weight: 500;
}
.goal-input::placeholder{
    color: rgba(0, 0, 0, 0.8);
}
.quote{
    font-weight: 500;
    text-align: center;
}
.made-with{
    font-weight: 500;
    font-size: 10px;
    color: #858585;
    text-align: center;
    margin-top: 64px;

}
.completed .custom-checkbox{
background-color: #48A300;
border-color: #48A300;
}
.completed .check-icon{
    display: block;

}
.completed .goal-input{
    color: green;
    text-decoration: line-through;
}



@media(max-width:768px){
.title{
    font-size: 32px;
}
.app-container{
    padding: 16px 32px;
}
.goals-container{
    height: 64px;
    margin-bottom: 44px;
    border-radius: 12px
}
.progress-bar{
    height: 32px;
}
}